## Rapture State Toolkit .gitignore

*
!data/
!modules/
!templates/
!tools/
!third-party/
!data/**/*
!modules/**/*
!templates/**/*
!tools/**/*
**/*.*
!*.cpp
!*.h
!*.inc
!*.hpp
!*.c
!*.fx
!*.cmake
!*.bat
!**/CMakeLists.txt
!.gitignore
!.gitattributes
!README.md
!third-party/*.gz
**/.vscode/
