## ASD .gitignore

*
!code/
!templates/
!tools/
!vendor/
!code/**/*
!tools/**/*
**/*.*
!*.cpp
!*.h
!*.hpp
!*.c
!*.fx
!*.glsl
!*.cmake
!*.bat
!CMakeLists.txt
!**/CMakeLists.txt
!.gitignore
!.gitattributes
!README.md
!templates/**/*
!vendor/*.tar.gz
!vendor/*.tar.gz.*
*_OLD.*
vendor/*.cat.tar.gz
**/.vscode/
