
## ASD .gitignore

*
!commands/
!data/
!modules/
!templates/
!tests/
!tools/
!third-party/
!commands/**/*
!data/**/*
!modules/**/*
!templates/**/*
!tests/**/*
!tools/**/*
**/*.*
!*.cpp
!*.h
!*.hpp
!*.c
!*.fx
!*.glsl
!*.cmake
!*.bat
!CMakeLists.txt
!**/CMakeLists.txt
!.gitignore
!.gitattributes
!README.md
!third-party/*.gz
**/.vscode/
